@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Stupid ChessBase</h1>
    <p class="lead">Stupid ChessBase is a future best application for chess ranklists, players, games and tournaments </p>
    <p><a href="~/Account/Register" class="btn btn-primary btn-lg">Getting Started &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Game of the day</h2>
        TODO
    </div>
<div class="col-md-4">
    <h2>Current biggest tournaments</h2>
    <p>TODO</p>
    <p><a class="btn btn-default" href="">Show more tournaments&raquo;</a></p>
</div>
<div class="col-md-4">
    <h2>Top 10 players by rating for @DateTime.Now.Month/@DateTime.Now.Year</h2>
        <p>TODO</p>
        <p><a class="btn btn-default" href="">Show more players&raquo;</a></p>
    </div>
    </div>
