@{
    ViewBag.Title ="AddTournament";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
  <form>
      <div class="form-group row">
          <label for="Name" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Tournament Name">
          </div>
      </div>

      <div class="form-group row">
          <label for="Date" class="col-sm-2 col-form-label">Date</label>
          <div class="col-sm-10">
              <input type="date" class="form-control" placeholder="Tournament Date">
          </div>
      </div>

      <div class="form-group row">
          <label for="Rounds" class="col-sm-2 col-form-label">Rounds</label>
          <div class="col-sm-10">
              <input type="number" class="form-control" placeholder="Tournament Rounds">
          </div>
      </div>
     <button class="btn btn-success">
         Create new tournament
     </button>
      <button class="btn btn-danger">
          Cancel
      </button>
  </form>
</body>
</html>
